{{ define "main" }}
	<main class="container mx-auto px-4 pt-4 flex justify-center">
		<article class="max-w-3xl min-w-0 flex flex-col justify-center">
			{{ if .Title }}
				<h1 class="text-4xl pb-2">{{ .Title }}</h1>
			{{ end }}
			{{ if .Params.subtitle }}
				<h2 class="text-2xl pb-2 text-gray-500">{{ .Params.subtitle }}</h2>
			{{ end }}
			{{ if .Date }}
				<div class="flex items-center pt-2">
					<img class="w-10 h-10 rounded-full mr-4" src="/wolontariat/8lo_logo_color.png" alt="Logo szkoły">
					<div class="text-sm">
						<p class="text-gray-900 leading-none">Sekcja Wolontariatu VIII LO</p>
						<time class="text-gray-600" datetime="{{ .Date.Format "2006-01-02T15:04:05" }}">{{ .Date.Format "02.01.2006" }}</time>
					</div>
				</div>
			{{ end }}
			{{ if .Params.thumbnail }}
				<img class="overflow-hidden w-auto max-h-[500px] my-6 self-center" src="{{ .Params.thumbnail }}" alt="{{ .Params.thumbnail_alt_text }}"/>
			{{ end }}
			<div class="max-w-none prose prose-lg flex flex-col items-center">
				{{ .Content }}
			</div>
			{{ with .Params.tags }}
			<div>
				<ul id="tags">
					<hr class="my-5"/>
					<span class="text-2xl">Tagi:</span>
					{{ range . }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
			{{ with .Site.DisqusShortname }}
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
			{{ end }}
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
